.mat-form-field{background-color: rgb(184, 169, 169);
    }
.example-container{ margin: 7% 20% 0% 20%;}
button,.mat-select{
    background-color: lightslategrey;
 
}
.component-page-header[_ngcontent-neo-c512] {
    display: flex;
    align-items: center;
}
.docs-primary-header {
    background: #3f51b5;
}
.docs-primary-header {
    padding-left: 20px;
}
.component-page-header{
    padding-top: 4%
}
body {
    font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    margin: 0;
}
.mat-form-field{
    width: 89%;
}
.bb{
    margin-left: 38%
}
