<div _ngcontent-neo-c512="" class="component-page-header docs-primary-header">
    <button _ngcontent-neo-c512="" mat-button="" class="sidenav-toggle mat-button mat-button-base">
        <span class="mat-button-wrapper">
        </span>
        <div matripple="" class="mat-button-ripple mat-ripple"></div>
        <div class="mat-button-focus-overlay"></div>
    </button>
        <h2 _ngcontent-neo-c512="" focusonnavigation="" tabindex="-1">add post</h2>
        <app-how-mny-users></app-how-mny-users>
</div>


<div class="example-container">
    <form [formGroup]="newItem"> 
                  <mat-form-field>
      <input formControlName="userId" matInput placeholder="Input userId ">
    </mat-form-field> <br>
    <mat-form-field>
        <input formControlName="id" matInput placeholder="Input id">
    </mat-form-field> <br>
    <mat-form-field>
        <input formControlName="title" matInput placeholder="Input title">
    </mat-form-field> <br>
    <mat-form-field>
        <input formControlName="body" matInput placeholder="Input body">
    </mat-form-field>
  
       
    <br>

    <button (click)= "AddItem()" mat-button>addpost</button>
  
        </form>
  </div>
