.component-page-header{
    padding-top: 4%
}
.component-page-header[_ngcontent-neo-c512] {
    display: flex;
    align-items: center;
}
.docs-primary-header {
    background: #3f51b5;
}
.docs-primary-header {
    padding-left: 20px;
}
body {
    font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    margin: 0;
}
.mat-drawer-container {
    background-color: #fafafa;
    color: rgba(0,0,0,.87);
}

.mat-expansion-panel-header {
    background-color: lightgrey;
}
.mat-expansion-panel-header-description,.mat-expansion-panel-header-title {
    color: rgba(39, 37, 37, 0.7);
}
.mat-expansion-panel, .mat-accordion {

    background: lightsteelblue;
    color: rgba(39, 37, 37, 0.7);
    margin: 1%;
}
p, h1{
    margin: 5% 15% 5% 15%;
}
.mat-form-field{
    background-color: lightslategrey;
}
button{
    background-color: lightslategrey;
    margin-left: 4% ;
    margin: 2%;
}
form{
    margin: 2%;
}
.component-page-header{
    padding-top: 4%
}
.ul1{
    position: relative;
    width: 100%;
}
.li1{
    position:absolute;
    left: -100%;
    top: 0%;
    width: 100%;
    transition: all 4s;
}
.titel{
    position:absolute; 
    right: 9%;
    top: 10%;  
}
.li1.shoo{
    left: 0%;  
}
img{
    width: 100%;
    max-height: 250px;
}
div{
    width: 100%;
}
.ul2{
    margin-top: 30%
}
.dss{
    margin-top: 26%;
}
