nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
    background: #3f51b5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    color: white;
}

/* .component-page-header[_ngcontent-neo-c512] {
    display: flex;
    position: fixed;
    align-items: center;
    width: 100%;
    height: 10%;
}
.docs-primary-header {
    background: #6878d4;
}
button{
    color: black;
} */
